<div id="splash-container" *ngIf="splashVisible">
    <div id="splash-center">
        <span id="buddy-b">B</span><span>uddy</span>
        <p id="splash-message">{{splashMessage}}</p>
    </div>
</div>