#splash-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rebeccapurple;
    background-color: white;
    z-index: 100000000;
    opacity: 1;

    #splash-center{

        #buddy-b{
            padding: 10px;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: white;
            background-color: rebeccapurple;
            border-radius: 5px;
        }

        
    }
}