ul#tab-list{
    width: 100%;
    margin: 5px auto;
    text-align: center;
    display: flex;
    
    li{
        flex-grow: 1;
        line-height: 30px;
        background-color: rebeccapurple;
        box-shadow: 0 0 1px 0 rebeccapurple;
        color: white;
    }

    .active{
        border-bottom: white solid 4px;
    }
}

#search-wrapper{
    margin: 15px 0;
}

#search-form{
    text-align: center; 
    color: rebeccapurple;
    margin: 0 auto;}

#search-input{
    border: none;
    outline: none;
    flex-grow: 1;
    margin: 10px 5px;
}

#return-wrapper, #clear-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    outline: none;
    cursor: pointer;
}

#input-wrapper{
    box-shadow: 0 0 2px 0 rebeccapurple;
    display: flex;
}

#result-table{
    width: 100%; 
    margin: 0;
    margin-bottom: 50px;
    border-spacing: 5px;

    tr{
        height: 60px;
        box-shadow:rebeccapurple 0px 0px 2px 0

    }
}

.icon-wrapper{
    height: 40px; 
    width: 40px; 
    border-radius: 40%;
    background-color: rebeccapurple;
}

.action-box{
    text-align: center;
    padding: 5px;
    border-radius: 40%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: x-large;
    outline: none;
}

.accept, .request{
    box-shadow: green 0 0 1px 0;
    color: green;
}

.reject, .cancel{
    box-shadow: red 0 0 1px 0;
    color: red;
}

.chat{
    box-shadow: plum 0 0 1px 0;    
    color: plum;
}

.contact-info-wrapper{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-box-wrapper{
    display: flex;
    justify-content: flex-end;
}





#ellipsis-wrapper{
  display: flex;
  justify-content: center;
.lds-ellipsis {
    display: inline-block;
    
    position: relative;
    height: 30px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rebeccapurple;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 0;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 2px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 32px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}