<main class="main-grid">
    <div class="main-content">
        <div id="search-wrapper">
            <form #searchForm="ngForm" id="search-form">
                <div id="input-wrapper">
                    <div id="return-wrapper" routerLink="/user/chats" class="fa fa-arrow-left"></div>

                    <input id="search-input" type="text" ngModel name="query" (keyup)="searchFrom(searchForm)"
                        placeholder="discover people...">
                    <div id="clear-wrapper" (click)="clearSearch(searchForm)" class="fa fa-times"></div>
                </div>
            </form>
            <ul id="tab-list">
                <li>
                    <div [ngClass]="tabStatus.discovery?'active':null" (click)="switchTab('discovery')">discovery</div>
                </li>
                <li>
                    <div [ngClass]="tabStatus.acquaintances?'active':null" (click)="switchTab('acquaintances')">
                        notifications</div>
                </li>
                <li>
                    <div [ngClass]="tabStatus.contacts?'active':null" (click)="switchTab('contacts')">contacts</div>
                </li>
            </ul>
        </div>
        <div id="ellipsis-wrapper" *ngIf="loading">
            <div class="lds-ellipsis" ><div></div><div></div><div></div><div></div></div>
        </div>
        <table id="result-table">
            <col align="left">
            <col align="left">
            <col align="right">

            <ng-template *ngIf="lastActive=='contacts';then showContacts; else notShowContacts">
            </ng-template>

            <ng-template #showContacts>
                <tr *ngFor="let contact of searchResults;">
                    <td>
                        <div class="icon-wrapper"></div>
                    </td>
                    <td class="contact-info-wrapper">
                        <div>{{contact.username}}</div>
                    </td>
                    <td>
                        <div class="action-box-wrapper">
                            <span class="action-box fa fa-commenting-o chat"
                                [routerLink]="['/user/chat', contact.username]"></span>
                        </div>

                    </td>
                </tr>
            </ng-template>

            <ng-template #notShowContacts>
                <ng-template *ngIf="lastActive=='acquaintances';then showAcquaintances; else notShowAcqusintances">
                </ng-template>

                <ng-template #showAcquaintances>
                    <tr *ngFor="let contact of searchResults;  index as i">
                        <td>
                            <div class="icon-wrapper"></div>
                        </td>
                        <td class="contact-info-wrapper">
                            <div>{{contact.username}}</div>
                        </td>
                        <td>
                            <div *ngIf="contact.sent; else requestReceived" class="action-box-wrapper">
                                <span class="action-box fa fa-times cancel" (click)="cancelRequest(contact.username, i)"></span>
                            </div>

                            <ng-template #requestReceived>
                                <div class="action-box-wrapper">
                                    <span class="action-box fa fa-times reject" (click)="rejectRequest(contact.username, i)"></span>
                                    <span class="action-box fa fa-check accept" (click)="acceptRequest(contact.username, i)"></span>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>

                <ng-template #notShowAcqusintances>
                    <tr *ngFor="let contact of searchResults;  index as i">
                        <td>
                            <div class="icon-wrapper"></div>
                        </td>
                        <td class="contact-info-wrapper">
                            <div>{{contact.username}}</div>
                        </td>
                        <td [ngSwitch]="true">
                            <div *ngSwitchCase="isActiveUser(contact.username)"></div>
                            <div *ngSwitchCase="contact.isContact" class="action-box-wrapper">
                                <span class="action-box fa fa-commenting-o chat"
                                    [routerLink]="['/user/chat', contact.username]"></span>
                            </div>
                            <div *ngSwitchCase="contact.sent" class="action-box-wrapper">
                                <span class="action-box fa fa-times cancel" (click)="cancelRequest(contact.username, i)"></span>
                            </div>
                            <div *ngSwitchCase="contact.received" class="action-box-wrapper">
                                <span class="action-box fa fa-times reject" (click)="rejectRequest(contact.username, i)"></span>
                                <span class="action-box fa fa-check accept" (click)="acceptRequest(contact.username, i)"></span>
                            </div>
                            <div *ngSwitchDefault class="action-box-wrapper">
                                <span class="action-box fa fa-rocket request" (click)="sendRequest(contact.username, i)"></span>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </ng-template>
        </table>
    </div>
</main>


