<form class="auth-form" #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
    <div id="general-err">
        <span id="err-msg" *ngIf="loginResult">*{{loginResult}}</span>
    </div>
    <div id="data-section">

        <div class="data-inner">
            <div class="input-wrapper">
                <input name="username" ngModel autocomplete="on" required class="input-box" #username="ngModel"
                    type="input">
            </div>
            <div class="err-wrapper"
                *ngIf="username.invalid && username.touched || username.invalid && loginForm.submitted">
                <span *ngIf="username.errors.required">*required.</span>
            </div>
        </div>

        <div class="data-inner">
            <div class="input-wrapper">
                <input name="password" ngModel required class="input-box" #password="ngModel" type="password">
            </div>
            <div class="err-wrapper"
                *ngIf="password.invalid && password.touched || password.invalid && loginForm.submitted">
                <span *ngIf="password.errors.required" class="err-msg">*required.</span>
            </div>
        </div>

    </div>
    <div id="submit-wrapper">
        <div id="submit-inner" (click)="input.click()">
            <span id="button-label">login</span>
            <div class="lds-dual-ring" [ngStyle]="{'visibility':loading ? 'visible' : 'hidden'}"></div>
            <input type="submit" hidden #input [disabled]="loading" >
        </div>
    </div>
</form>