<form class="auth-form" #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm)">
    <div id="general-err">
        <span id="err-msg" *ngIf="registerResult">*{{registerResult}}</span>
    </div>
    <div id="data-section">

        <div class="data-inner">
            <div class="input-wrapper">
                <input name="username" ngModel autocomplete="on" required minlength="3" class="input-box" #username="ngModel"
                    type="input">
            </div>
            <div class="err-wrapper"
                *ngIf="username.invalid && username.touched || username.invalid && registerForm.submitted">
                <span *ngIf="username.errors.required">*required.</span>
                <span *ngIf="username.errors.minlength" class="err-msg">* minimum characters
                    {{password.errors.minlength.requiredLength}}.</span>
            </div>
        </div>

        <div class="data-inner">
            <div class="input-wrapper">
                <input name="password" ngModel required class="input-box" minlength="6" #password="ngModel" type="password">
            </div>
            <div class="err-wrapper"
                *ngIf="password.invalid && password.touched || password.invalid && registerForm.submitted">
                <span *ngIf="password.errors.required" class="err-msg">*required.</span>
                <span *ngIf="password.errors.minlength" class="err-msg">* minimum characters
                    {{password.errors.minlength.requiredLength}}.</span>
            </div>
        </div>



        <div class="data-inner">
            <div class="input-wrapper">
                <input ngModel pattern="{{ password.value }}" name="cpassword" class="input-box" #cpassword="ngModel" type="password">
            </div>
            <div class="err-wrapper"
                *ngIf="cpassword.invalid && cpassword.touched || cpassword.invalid && registerForm.submitted">
                <span *ngIf="cpassword.errors.required" class="err-msg">*required.</span>
                <span *ngIf="cpassword.errors.pattern" class="err-msg">*not matching.</span>
            </div>
        </div>
    </div>

    <div id="submit-wrapper">
        <div id="submit-inner" (click)="input.click()">
            <span id="button-label">register</span>
            <div class="lds-dual-ring" [ngStyle]="{'visibility':loading ? 'visible' : 'hidden'}"></div>
            <input type="submit" hidden #input [disabled]="loading">
        </div>
    </div>
</form>