<main>
    <div class="container">
        <nav>
            <div id="return-wrapper" routerLink="/user/chats">
                <span class="fa fa-arrow-left"></span>
            </div>
            <div id="info-wrapper">
                <span>{{this.chatName}}</span>
            </div>

        </nav>
        <div id="chat-area" #scroll [scrollTop]="scroll.scrollHeight">
            <div class="main-grid">
                <div class="main-content">
                    <table id="chat-table">
                        <colgroup>
                            <col align="left" width="20px">
                            <col align="left">
                            <col align="right" width="20px" class="right-col">
                        </colgroup>
                        <tbody>
                            <tr *ngFor="let msg of conversation; index as i">
                                <ng-template [ngIf]="msg.from === activeUser" [ngIfElse]="sent">
                                    <td class="left">
                                    </td>
                                    <td class="center" align="right">
                                        <pre class="text">{{msg.message}}</pre>
                                    </td>
                                    <td class="right">
                                        <div class="icon" *ngIf="showIcon(i)"></div>
                                    </td>
                                </ng-template>
        
                                <ng-template #sent>
                                    
                                    <td class="left">
                                        <div class="icon" *ngIf="showIcon(i)"></div>
                                    </td>
                                    <td class="center">
                                        <pre class="text">{{msg.message}}</pre>
                                    </td>
                                    <td class="right">
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    

        <div id="text-container">
            <ul>
                <li id="form-wrapper">
                    <form #chatForm="ngForm" (ngSubmit)="sendMessage(chatForm)">
                        <textarea class='autoExpand' ngModel #message="ngModel"
                            name="message" required style="margin-top: auto;" rows='1'
                            data-min-rows='1' placeholder='text...' #text (input)="expand(text)"></textarea>
                        <input type="submit" style="display:none" #sendBtn>
                    </form>
                </li>
                <li id="submit-wrapper">
                    <div (click)="sendBtn.click()" id="submit-btn">
                        <span class="fa fa-caret-right" id="submit-icon"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
