$theme-color: rebeccapurple;

.container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    position: fixed;
    width: 100vw;
}

nav {
    background-color: $theme-color;
    flex-basis: 50px;
    min-height: 50px;
    display: flex;
    color: white;


    div#return-wrapper {
        width: 40px;
        height: 100%;
        background-color: rgb(112, 53, 172);
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }

    div#info-wrapper {
        flex-grow: 1;
        display: flex;
        padding: 5px 10px;
        align-items: center;
    }
}

#chat-area {
    flex-grow: 1;
    overflow-y: scroll;

}

.text {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}


.icon {
    width: 30px;
    height: 30px;
    border-radius: 40%;
    border: 1px solid $theme-color;
}

td.left,
td.right {
    vertical-align: top;
}

.text {
    display: inline-block;
    max-width: 80%;
    border-radius: 5px;
    padding: 2px 10px;
    text-align: left;
    color: white;
    background-color: $theme-color;
    margin: 0;
    min-width: 20px;
}

#chat-table {
    width: 100%;
}

textarea {
    display: block;
    box-sizing: border-box;

    padding: 10px;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    outline: none;
    border: 1px solid $theme-color;
}

#text-container {
    ul {
        display: flex;
        padding: 0 5px;
        padding-bottom: 5px;

        li#form-wrapper {
            flex-grow: 1;

            form {
                display: flex;
                flex-flow: column;
                height: 100%;
            }

        }

        li#submit-wrapper {
            #submit-btn {
                width: 50px;
                height: 50px;
                text-align: center;
                height: 100%;

                #submit-icon {
                    font-size: 40px;
                    color: rebeccapurple;
                }
            }
        }


    }




}