#form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}



#user-icon-wrapper {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: rebeccapurple;

    div {
        width: 50%;
        height: 50%;
        background-color: white;
        margin: 0 auto;
    }

    #icon-head {
        border-radius: 100%;
    }
}

#nav-wrapper {
    margin: 20px 0;
    margin-bottom: 10px;

    div.btn-wrapper {
        display: inline-block;
        width: 50%;
        text-align: center;
        box-sizing: border-box;
        border: .5px solid rebeccapurple;

        div.nav-btn {
            
            width: 100%;
            height: 30px;
            outline: none;
            border-bottom: 4px solid white;
            box-sizing: border-box;
            transition: ease 300ms;
            padding: 3px 0;
            color: rebeccapurple
        }

        div.nav-btn.active-route {
            border-bottom-color: rebeccapurple;
            outline: none;
        }
    }
}