<main class="main-grid">
    <div class="main-content">
        <div id="form-wrapper">
            <div id="form-top">
                <div>
                    <div id="user-icon-wrapper">
                        <div id="icon-head"></div>
                        <div id="icon-body"></div>
                    </div>
                </div>
                
                <div id="nav-wrapper">
                    <div class="btn-wrapper">
                        <div routerLink="login" class="nav-btn" routerLinkActive="active-route">login</div>
                    </div>
                    <div class="btn-wrapper">
                        <div routerLink="register" class="nav-btn" routerLinkActive="active-route">register</div>
                    </div>
                </div>
            </div>
            
            <main [@slideIn]="prepareRoute(outlet)" style="position:  relative; height: 170px">
                <router-outlet #outlet="outlet"></router-outlet>
            </main>
        </div>
        
    </div>
</main>