#general-err{
    text-align: center;
    height: 25px;
}

#err-msg {
    color: red;
    font-size: small;
}


.auth-form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rebeccapurple;

    #data-section{
        .data-inner{
            display: flex;
            border: 1px solid rebeccapurple;
            box-sizing: border-box;
            height: 30px;
            margin-bottom: 10px;
            flex-grow: 1;
    
            .input-wrapper{
                flex-grow: 1;
                height: 100%;

                .input-box{
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border:none;
                    margin: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                    box-sizing: border-box;
                }
            }
    
            .err-wrapper{
                position: relative;
                background-color: red;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;
                box-sizing: border-box;
                transition: ease-in-out 300ms;
                color: white;

            }
        }
    }


    #submit-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        #submit-inner{
            display: flex;
            width: 150px;
            height: 30px;
            background-color: rebeccapurple;
            color: white;
            align-items: center;

            #button-label {
                flex-grow: 3;
                text-align: right;
                font-size: medium;
                outline: none;
            }
        }
    }
}

.lds-dual-ring {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: inherit;
  }
  .lds-dual-ring:after {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }