$theme-color: rebeccapurple;

#dashboard-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 5000;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  .inner-icon {
    font-size: large;
    text-align: center;
    outline: none;

    .icon {
      display: flex;
      align-items: center;
      & > span {
        margin: 0 auto;
      }
    }
  }

  .fa {
    vertical-align: middle;
  }

  .icon {
    background-color: $theme-color;
    color: white;
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 40%;
  }
}
