<div id="dashboard-wrapper" #dashboard>
    <div id="third-icon" routerLink="/user/discover" class="inner-icon">
      <div class="icon">
        <span class="fa fa-binoculars"></span>
      </div>
    </div>
</div>
