#chat-table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-spacing: 5px;

    tr {
        box-shadow: rebeccapurple 0px 0px 2px 0;
        padding: 2px;
        height: 60px;


        .icon-container {
            padding: 5px;

            .icon-wrapper {
                height: 40px;
                width: 40px;
                background-color: rebeccapurple;
                border-radius: 40%;
            }
        }

        .main-section {
            width: 100%;
            vertical-align: middle;


            p {
                font-size: x-small;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 50%;
                margin: 2px 0;
            }

        }

    }
}