<app-dashboard></app-dashboard>
<main class="main-grid">
    <div class="main-content">
        <table id="chat-table">
            <col align="left">
            <col align="left">
            <tr [routerLink]="['/user/chat', msg.username]" *ngFor="let msg of chats">
                <td class="icon-container">
                    <div class="icon-wrapper"></div>
                </td>
                <td class="main-section">
                        <span style="font-size: small;">{{msg.username}}</span>
                        <p>{{msg.message}}</p>
                </td>
            </tr>
        </table>
    </div>
</main>