/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif; }

ng-reflect-router-link{
    outline: none;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-grid{
    display: grid;
    grid-template-columns: 2% 1fr 2%;
    grid-template-areas: ". main-content .";
}

.main-content{
    grid-area: main-content;
}
